<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ProxyToys - ${title}</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        ${head}
    </head>
    <body>

        <div id="banner">
            <a href="index.html"><img id="logo" src="logo.gif" alt="ProxyToys Logo"/></a>
            <div id="title">${title}</div>
        </div>

        <div id="center" class="${centerClass}">
            <div id="content">

                ${body}

                <br/><br/>
                
            </div>
        </div>

        <div class="SidePanel" id="left">
            <#list sitemap.sections as section>
                <div class="MenuGroup">
                    <h1>${section.name}</h1>
                    <ul>
                        <#list section.pages as otherPage>
                            <#if otherPage = page>
                                <li class="currentLink">${otherPage.title}</li>
                            <#else>
                                <li><a href="${otherPage.href}">${otherPage.title}</a></li>
                            </#if>
                        </#list>
                    </ul>
                </div>
            </#list>
        </div>
        
      <#if page.index>
      <div class="SidePanel" id="right">
        <div class="NewsGroup">
          <h1>Latest Versions</h1>
	        <div class="NewsItem">
	          <p>Stable:<span class="NewsVersion"><a href="download.html#stable">0.2.1</a></span></p>
	        </div>
	        <div class="NewsItem">
	          <p>Preview:<span class="NewsVersion"><a href="download.html#preview"></a></span></p>
	        </div>
	        <div class="NewsItem">
	          <p>Development:<span class="NewsVersion"><a href="download.html#snapshot">1.0-SNAPSHOT</a></span></p>
	        </div>
        </div>

        <div class="NewsGroup">
          <h1>News</h1>
	        <div class="NewsItem">
	          <p>Sep 5, 2005<br/><a href="news.html#20050905">ProxyToys 0.2.1 released</a></p>
	        </div>
	        <div class="NewsItem">
	          <p>Sep 4, 2005<br/><a href="news.html#20050904">ProxyToys 0.2 released</a></p>
	        </div>
	        <div class="NewsItem">
	          <p>Aug 8, 2005<br/><a href="news.html#20050808">ProxyToys Website Relaunch</a></p>
	        </div>
	        <div class="NewsItem">
	          <p>Jun 5, 2004<br/><a href="news.html#20040605">ProxyToys 0.1 released</a></p>
	        </div>
        </div>
      </div>
      </#if>

  </body>
</html>
