/*---------------------------------------------------------------------------
 *  Default element styles
 */

body {
    padding: 0px;
    margin: 0px;
    border: 0px;

    font-family: helvetica, arial, sans-serif;
    font-size: 10pt;

    background-color: white;
    color: black;

    width:100%;
}

hr {
    border: 1px solid #ff4040;
}

a:link { color: #2BA527; }
a:visited { color: #649BD1; }
a:active { color: #ff4040; }
a:hover { color: #ff4040; }

img {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

blockquote {
    margin-bottom: 10px;
}

table {
    background-color: #ffee77;
}

th {
    white-space: nowrap;
}

h1 {
    width: 100%;
    font-size: 20pt;
    background-color: #2BA527;
    color: #ffee77;
    padding: 2px;
    padding-left: 6px;
    margin-top: 24px;
    margin-bottom: 12px;
    border: 2px solid #ff4040;
}

h2 {
    margin-top: 20pt;
    border: 2px solid #ff4040;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    background-color: #649BD1;
    color: #ffee77;
    padding: 2px;
}

.Source pre {
    padding: 4px;
    font-family: courier new, monospace;
    font-size: 11px;
    border: 2px solid #ff4040;
    background-color: #ffee77;
    color: black;
}


.logo           { width: 56px; height: 56px }

/* Table colors */
.TableHeadingColor     { background: #2BA527; color:#ffee77}
.TableSubHeadingColor  { background: #649BD1; color:#ffee77}
.TableRowColor         { background: #ffee77}
.TableHeadingColor td  { border: 1px solid #ff4040}
.TableSubHeadingColor td { border: 1px solid #ff4040}
.TableRowColor td      { border: 1px solid #ff4040}

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 12pt; font-weight: bold;}
.FrameHeadingFont { font-size: 12pt; font-weight: bold; color:#ff4040}
.FrameItemFont    { font-size: 10pt}

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#ffee77;}
.NavBarCell1Rev { background-color:#ffee77;}
.NavBarFont1    { font-size: 12pt; color:#2BA527;}
.NavBarFont1Rev { font-size: 12pt; color:#ff4040;}
a:visited .NavBarFont1 { color: #649BD1; }
a:active .NavBarFont1 { color: #ff4040; }
a:hover .NavBarFont1{ color: #ff4040; }
.NavBarCell2    { background-color:#ffee77;}
.NavBarCell3    { background-color:#ffee77;}
